@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.App-link {
  color: rgb(112, 76, 182);
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  height: 75vh;
}
.logo {
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  }

  .layout{
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
  }